  <%- include('includes/header') %>
  <h2><%= title %></h2>
  

  <aside class="curriculum-info">
    <ul>
      <li>Jeweils 9.30–16.30 Uhr</li>
      <li>eine Stunde Mittagspause</li>
      <li>Änderungen vorbehalten</li>
    </ul>
  </aside>

  <% if (schooldays.length) { %>
   <ul class="curriculum">
   <% for ( schoolday of schooldays ) { %>
    <li class="schoolday module-1 <%= schoolday.teacher.name.replace(/\s/g,'-').toLowerCase() %>">
      <p class="date"><%= schoolday.date.toLocaleDateString('de-CH', {year: "2-digit", month: "2-digit", day: "2-digit"}) %></p>
      <h3 class="title"><span class="color-marker"></span><%- schoolday.title %> </h3>
      <% if (schoolday.description) { %>
        <ul class="description">
        <% for (content of schoolday.description) { %>
          <li class="description-text"><%- content %> </li>
        <% } %>
        </ul>
      <% } %>
      <p class="teacher-room">
        <span class="teacher"><%= schoolday.teacher.name %></span>
        <span class="room"><%= schoolday.room ? schoolday.room : "—" %> </span>
      </p>
    </li>
   <% } %>
   </ul>
  <% } %>

  <%- include('includes/footer') %>