<%- include('includes/header') %>

  <% if (schooldays.length) { %>
    <div class="curriculum">
      <h2><%= title %></h2>
      <% for (const semester in semesters) { %>
        <% const months = semesters[semester].months %>
        <section class="semester">
          <h3><%= (semester === "spring") ? 'Frühlingssemester' : 'Herbstsemester' %></h3>
          <% for ( const month of months ) { %>
            <div class="month">
            <h4><%= month.name %></h4>
            <% for (const weekend of month.weekends) { %>
              <section class="weekend">
                <% for (const dayname in weekend) { %>
                  <% const day = weekend[dayname] %>
                  <p class="day <%= dayname %>">
                    <span class="date"><%- day.date.toLocaleDateString('de-CH', {year: "2-digit" , month: "2-digit" , day: "2-digit" }) %></span>
                    <span class="room"><%- day.room ? day.room : 'X.000' %></span>
                    <span class="name morning" title="<%= day.teacherMorning.name %>"><%= day.teacherMorning ? day.teacherMorning.initials : 'NN' %></span>
                    <span class="hours morning">3</span>
                    <span class="title morning"><%- day.titleMorning %></span>
                    <span class="name afternoon" title="<%= day.teacherAfternoon.name %>"><%= day.teacherAfternoon ? day.teacherAfternoon.initials : 'NN' %></span>
                    <span class="hours afternoon">3.5</span>
                    <span class="title afternoon"><%- day.titleAfternoon %></span>
                  </p>
                <% }  %> <!-- dayname in weekend loop -->
              </section>
            <% }  %> <!-- end weekend of month.weekends loop -->
            </div> <!-- end div.month -->
          <% } %> <!-- end month of months loop -->
        </section>
        <% } %> <!-- end semester in semesters loop  -->
        <p class="info">Unterrichtsstunden 9.00–12.00 und 13.00–16.30 Uhr</p>
      </div> <!-- end div.curriculum -->
      <% } %> <!-- end if statement -->

<%- include('includes/footer') %>