<%- include('includes/header') %>

<% if (schoolday) { %>
  <h2 class="detail-page-title">Schultag löschen</h2>
  <h3>Titel</h3>
  <p><%= schoolday.title %></p>

  <h3>Datum</h3>
  <p><%= schoolday.date.toLocaleDateString('de-CH', {year: '2-digit', month: '2-digit', day: '2-digit'}) %></p>

  <h3>Zimmer</h3>
  <p><%= schoolday.room %></p>

  <h3>Titel Morgen</h3>
  <p><%- schoolday.titleMorning  %></p>

  <h3>Dozent:in Morgen</h3>
  <p><a href="<%= schoolday.teacherMorning.url %>"><%= schoolday.teacherMorning.name %></a></p>

  <h3>Title Nachmittag</h3>
  <p><%- schoolday.titleAfternoon  %></p>

  <h3>Dozent:in Nachmittag</h3>
  <p><a href="<%= schoolday.teacherAfternoon.url %>"><%= schoolday.teacherAfternoon.name %></a></p>

  <section class="danger-zone">
      <p>Bist du sicher?</p>
      <form action="" method="POST">
        <input type="hidden" id="schooldayid" name="schooldayid" required="true" value="<%= schoolday.id %>">
        <button>löschen</button>
      </form>
    </section>

<% } %>
<%- include('includes/footer') %>