<%- include('../includes/header') %>
<h2><%= title %></h2>

<%# Todo: description-feld sollte wenn schon vorhanden immer ein neues leeres feld zeigen %> 

<form method="POST" action="">
  <label for="date">Datum</label>
  <%# date comes as custom attribute, field gets populated on client side, see below %> 
  <input type="date" name="date" id="date" required="true" data-date="<%- schoolday.date ? schoolday.date : ''%>">

  <label for="room">Zimmer</label>
  <input type="text" name="room" id="room" value="<%= schoolday.room ? schoolday.room : '' %>">

  <label for="title">Titel Morgen</label>
  <input type="text" name="title-morning" id="title-morning" value="<%- schoolday ? schoolday.titleMorning : '' %>"  required="true">

  <label for="teacher">Dozent:in Morgen</label>
  <% if (teachers) { %>
  <select name="teacher-morning" id="teacher-morning" required="true">
    <% for (teacher of teachers) { %>
      <% let selected = ''%>
      <% if (schoolday.teacherMorning) { %>
        <% selected = teacher.id === schoolday.teacherMorning.id ? 'selected' : '' %>
      <% } %>

      <option value="<%= teacher.id %>" <%= selected %>><%= teacher.name %></option>
    <% } %>
  </select>
  <% } %>

  <label for="title">Titel Nachmittag</label>
  <input type="text" name="title-afternoon" id="title-afternoon" value="<%- schoolday ? schoolday.titleAfternoon : '' %>"  required="true">

  <label for="teacher">Dozent:in Nachmittag</label>
  <% if (teachers) { %>
  <select name="teacher-afternoon" id="teacher-afternoon" required="true">
    <% for (teacher of teachers) { %>
      <% let selected = ''%>
      <% if (schoolday.teacherAfternoon) { %>
        <% selected = teacher.id === schoolday.teacherAfternoon.id ? 'selected' : '' %>
      <% } %>
      <option value="<%= teacher.id %>" <%= selected %>><%= teacher.name %></option>
    <% } %>
  </select>
  <% } %>

  <button type="submit">erfassen</button>
</form>


<% if (errors) { %>
  <aside class="errors">
    <ul>
      <% for (error in errors) { %>
        <li><%= error.msg %></li>
      <% } %>
    </ul>
  </aside>
<% } %>

<%- include('../includes/footer') %>

<script src="/js/handle-description.js"></script>
<script src="/js/populate-date.js"></script>