<%- include('../includes/header') %>
<h2><%= title %></h2>

<%# Todo: description-feld sollte wenn schon vorhanden immer ein neues leeres feld zeigen %> 

<form method="POST" action="">
  <label for="title">Titel</label>
  <input type="text" name="title" id="title" value="<%- schoolday ? schoolday.title : '' %>"  required="true">

  <label for="date">Datum</label>
  <%# date comes as custom attribute, field gets populated on client side, see below %> 
  <input type="date" name="date" id="date" required="true" data-date="<%- schoolday.date ? schoolday.date : ''%>">

  <label for="room">Zimmer</label>
  <input type="text" name="room" id="room" value="<%= schoolday.room ? schoolday.room : '' %>">

  <% if (schoolday.description?.length) { %>
    <% for (const content of schoolday.description) { %>
    <label for="description">Beschreibung</label>
    <input type="text" name="description[]" id="description" class="description" value="<%= content %>">
    <% } %>
  <% } else { %>
    <label for="description">Beschreibung</label>
    <input type="text" name="description[]" id="description-0" class="description" value="">
  <% } %>

  <label for="teacher">Dozent:in</label>
  <% if (teachers) { %>
  <select name="teacher" id="teacher" required="true">
    <% for (teacher of teachers) { %>
      <% let selected = teacher?.id === schoolday.teacher?.id ? 'selected' : '' %>
      <option value="<%= teacher.id %>" <%= selected %>><%= teacher.name %></option>
    <% } %>
  </select>
  <% } %>

  <button type="submit">erfassen</button>
</form>


<% if (errors) { %>
  <aside class="errors">
    <ul>
      <% for (error in errors) { %>
        <li><%= error.msg %></li>
      <% } %>
    </ul>
  </aside>
<% } %>

<%- include('../includes/footer') %>

<script src="/js/handle-description.js"></script>
<script src="/js/populate-date.js"></script>

<%- include('../includes/html-end') %>